body {
    margin:0 auto;
    font-family: "Lato", sans-serif;
}

ul.tab {
   position: absolute; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index:10;
    top:150px;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.Menu_Image {
   position: relative; 
   width: 100%; /* for IE 6 */
   overflow: hidden;
}
.Menu_Img_Image {
    width: 100%;
    height:200px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,cccccc+100 */
background: #feffe8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #feffe8 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #feffe8 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #feffe8 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
z-index:2;
}
.Menu_Image_H2 {
   position: absolute; 
   padding:0;
   top: -35px; 
   right: 15px;
   width: 100%;
   text-align: right;
   font-size:50px;
   color:#fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ddd)); background-image: -webkit-linear-gradient(#ffffff,#ddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    -webkit-text-stroke: 1px #aaa;
}

details {
    padding:10px;
    background:#eee;
    border: 1px solid #ddd;
}summary::-webkit-details-marker { font-size:0px }
summary {
    padding:5px;   
    font-size:25px;
}
summary:before {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-icon-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.Button_Donation {
    position:absolite;
    top:5px;
    right:0;
    padding:10px;
}