.tab-pane {
    margin:-10px auto;
    position:absolute;
}
h3 {
    padding: 5px;
}

nav {
    margin:10px auto;
    height: 30px; 
    background: #eee;
}
li {
    list-style-type: none;
    display: inline-block; 
    float:left;
    
    padding:5px;
}